name: Node CI (beta)

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Checkout submodules
      uses: textbook/git-checkout-submodule-action@2.0.0
    - name: Install dependencies of web3.js
      working-directory: ./web3.js
      run: npm ci
    - name: Build web3.js
      working-directory: ./web3.js
      run: npm run build
    - name: Build web3.js-browser
      run: |
        yarn install --frozen-lockfile
        npm run build --if-present
      env:
        CI: true
